<div class="container">
  <ul>
  <% @trainers.each do |trainer| %>
    <li>
      <%= link_to trainer.name, trainer_path(trainer) %>
      <%= trainer.age %>
      <%= cl_image_tag trainer.photo.key, height: 500, width: 300 %>
    </li>
    <% end %>
  </ul>
  <%= link_to "Create a new trainer", new_trainer_path %>
</div>
